# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Dependencies
/vendor/
/node_modules/
/dist/

# Environment files
.env
.env.local

# Logs and databases
*.log
*.tsbuildinfo
*.sql
*.sqlite

# Messages directory (since it contains user-submitted data)
/messages/

# Other
*.tmp
*.temp 
